[submodule "vendor/haskell-tree-sitter"]
	path = vendor/haskell-tree-sitter
	url = git@github.com:ervinoro/haskell-tree-sitter.git
[submodule "vendor/tree-sitter-demoniclambda"]
	path = vendor/tree-sitter-demoniclambda
	url = git@github.com:ervinoro/tree-sitter-demoniclambda.git
